*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
.fix{
    background: #f0f2f5;
}
.container{
    width: 1170px;
    margin: auto;
}
.header .header_top{
    background: #FFFFFF;
}
.header .header_top .container .top .toggle{
    font-size: 30px;
    display: none;
}
.header .header_top .container .top{
    display: flex;
    padding-top: 10px;
    margin-bottom: 5px;
}
.header .header_top .container .top .logo img{
    width: 112px !important;
    height: auto;
}
.header .header_top .container .top .search{
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background: #ededed;
}
.header .header_top .container .top .search i{
    margin-left: 10px;
    font-weight: 400;
    font-size: 15px;
}
.header .header_top .container .top .search input{
    border: none;
    padding: 5px 10px;
    width: 100%;
    outline: none;
    font-size: 18px;
    background: none;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header .header_top .container .top .user{
    width: 20%;
    display: flex;
}
.header .header_top .container .top .user .cart{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.header .header_top .container .top .user .cart a{
    color:#3c3c3c;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header .header_top .container .top .user .account{
    width: 50%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}
.header .header_top .container .top .user .account a{
    color: #3c3c3c;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header .header_site{
    background: #003463;
}
.header .header_site .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.header .header_site .container .menu ul{
    display: flex;
}
.header .header_site .container .menu ul li{
    list-style: none;
    margin-left: 20px;
}
.header .header_site .container .menu ul li:first-child{
    margin-left: 0;
}
.header .header_site .container .menu ul li a{
    color: #fff;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.header .header_top .header_site .container .site_info .info{
    margin-left: 15px;
    color: #FFFFFF;
    font-size: 14px;
}
.header .header_top .header_site .container .site_info .info:last-child{
    border: 1px solid #003463;
    outline: none;
    padding: 10px;
    background: rgba(0,0,0,.25);
}
.header .header_top .header_site .container .site_info .info i:last-child{
    font-size: 16px;
}
.header .header_top .header_site .container .site_info .info i{
    margin-left: 5px;
    color: #FFFFFF;
}
.header .header_top .header_site .container .site_info .info a{
    color: #FFFFFF;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.header .page .container{
    display: flex;
}
.header .page .container .page_sidebar{
    width: 100%;
    position: sticky;
    top: 0;
    overflow: auto;
    z-index: 2;
    height: 100%;
}
.header .page .container .sidebar h4{
    text-transform: uppercase;
    padding: 15px 0;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333333;
    font-weight: 500;
}
.header .page .container .sidebar ul li{
    list-style: none;
    margin-bottom: 10px;
}
.header .page .container .sidebar ul li a{
    color: #333333;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
}
.header .page .container .sidebar ul li a:hover{
    color: #3273dc;
}
.header .page .container .widget h4{
    text-transform: uppercase;
    padding: 15px 0;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333333;
    font-weight: 500;
}
.header .page .container .widget ul li{
    list-style: none;
    margin-bottom: 10px;
    display: flex;
}
.header .page .container .widget ul li a{
    color: #333333;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    align-items: center;
}
.header .page .container .widget ul li a:hover{
    color: #3273dc;
}
.header .page .container .widget svg{
    margin-right: 5px;
}
.main .section .box .title{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.main .section .box .product{
    display: flex;
    flex-wrap: wrap;
}
.main .section .box .product .item{
    width: calc(20% - 18px);
    margin-left: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
    display: block;
    border: 1px solid #FFFFFF;
    overflow: hidden;
    margin-bottom: 10px;
    background: #FFFFFF;
}
.main .section .box .product .item:hover{
    box-shadow: 0 1px 6px 1px #bbb;
}
.main .section .box .product .item:first-child{
    margin-left: 0;
}
.main .section .box .product .item:nth-child(6){
    margin-left: 0;
}
.main .section .box .product .item .text p{
    font-weight: 400;
    color: #111111;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin-bottom: 10px;
}
.footer .container .column{
    display: flex;
}
.footer .container .column .info_links{
    width: 50%;
}
.footer .container .column ul{
    display: flex;
    padding: 15px 0;
}
.footer .container .column ul li{
    list-style: none;
    border-right: 1px solid #ccc;
    padding-right: 10px;
    padding-left: 10px;
}
.footer .container .column ul li:first-child{
    padding-left: 0;
}
.footer .container .column ul li:last-child{
    border-right: none;
}
.footer .container .column ul li a{
    color: #007aff;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 13px;
}
.footer .container .column ul li a:hover{
    color: #363636;
}
.footer .container .column p{
    font-size: 13px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.footer .container .column p strong{
    font-weight: 500;
}
.footer .container .img_column{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: flex-end;
}
.footer .container .img_column .img1{
    width: 175px;
    height: auto;
}
.footer .container .img_column .img2{
    width: 180px;
    height: auto;
}
@media screen and (max-width: 1200px){
    .container{
        width: 991px;
    }
    .header .page .container .page_sidebar{
        display: none;
    }
    .header .header_site{
        display: none;
    }
    .header .header_top .container .top .logo{
        display: none;
    }
    .header .header_top .container .top .toggle{
        display: block;
    }
}
@media screen and (max-width: 991px){
    .container{
        width: 767px;
    }
}
@media screen and (max-width: 767px){
    .container{
        width: 100%;
    }
}